@import url('https://fonts.googleapis.com/css?family=Raleway|Fjalla+One|Indie+Flower');

html {
font-family: Raleway;
min-height: 99vh;
max-height: 100vh;
background-image: url("static/DSC_3297 John Whitney Trio 051109.jpeg");
background-repeat: no-repeat;
background-color: black;
background-size: length;
}

body {
margin: 0;
max-height: 98vh;
color: white;
}

a, a:visited, a:hover, a {
text-decoration: none;
color: white;
}

div#header {
margin: 0 30vw;
padding: 2vh 0 0 0;
text-align: center;
}

#mainTitleContainer {
display: grid;
grid-template-columns: 19vw 2vw 19vw;
grid-template-rows: 10vh;
}

.mainTitle {
font-family: Fjalla One;
font-size: 8vh;
letter-spacing: 1vw;
margin: 0;
padding: 0;
}

#DAN {
text-align: right;
}

#HULL {
text-align: left;
}

#mainContentDiv h3 {
text-align: left;
font-size: 24pt;
}

#mainContentDiv {
margin: 10vh 30vw;
overflow: auto;
text-align: justify;
max-height: 60vh;
padding: 0 16px 0 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  margin-left: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(200,200,200,0.2); 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(200,200,200,1);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
#navDiv {
margin: 0 30vw;
background-color: orange;
padding: 10px 0;
}

#navDiv ul#navList {
display: flex;
justify-content: center;
margin: 0;
padding: 0;
}

.nav {}

.navItem {
list-style-type: none;
margin: 0 1vw;
}
