@import url('https://fonts.googleapis.com/css?family=Raleway|Fjalla+One|Indie+Flower');

html {
font-family: Raleway;
min-height: 99vh;
max-height: 100vh;
background-image: url("static/P2050625.jpeg");
background-repeat: no-repeat;
background-color: black;
background-size: cover;
}

body {
margin: 0;
max-height: 98vh;
color: white;
}

a, a:visited, a:hover, a {
text-decoration: none;
color: white;
}

#grid {
display: grid;
grid-template-rows: auto auto;
grid-template-columns: 10vw auto 5vw;
align-items: end;
margin: 10vh 0 10vh 0;
}

.gridItem {}

#gridItem1-DAN {
}


#gridItem2-HULL {
place-self: start;
text-align: right;
}

#gridItem3-about {}

#gridItem4-blog {
max-height: 50vh;
overflow: auto;
padding: 0 20px 0 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  margin-left: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(200,200,200,0.2); 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(200,200,200,1);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#gridItem5-empty {}

#gridItem6-empty {}


